@charset "UTF-8";
.greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background: url(../../../img/pngegg.png) no-repeat;
  background-position: center;
  background-size: contain;
}
.greeting__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 200px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .greeting__text-container {
    padding: 0 30px;
  }
}
@media screen and (max-width: 480px) {
  .greeting__text-container {
    padding: 0 10px;
  }
}
.greeting__title {
  width: 100%;
  font-size: 120px;
  text-align: center;
  font-family: "Chango", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(67, 139, 247);
  text-shadow: 3px 4px 5px rgb(7, 18, 119);
}
@media screen and (max-width: 768px) {
  .greeting__title {
    font-size: 80px;
  }
}
@media screen and (max-width: 480px) {
  .greeting__title {
    font-size: 40px;
  }
}
.greeting__text {
  width: 100%;
  text-align: center;
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
@media screen and (max-width: 480px) {
  .greeting__text {
    font-size: 20px;
    padding: 20px;
  }
}
.greeting____buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 150px;
}

.btn {
  outline: none !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 10px 40px;
  margin: 10px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  cursor: pointer;
  border-radius: 4px;
  /* border: none; */
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px, inset rgba(252, 255, 255, 0.7) 0 3px 8px, rgba(0, 0, 0, 0.8) 0 3px 8px -3px;
          box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px, inset rgba(252, 255, 255, 0.7) 0 3px 8px, rgba(0, 0, 0, 0.8) 0 3px 8px -3px;
}
.btn:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}
@media screen and (max-width: 480px) {
  .btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 20px;
    padding: 10px 10px;
  }
}

.how-to-play {
  background: rgb(106, 131, 243);
}
.how-to-play:hover {
  background: rgb(73, 96, 199);
}

.play {
  background: rgb(63, 211, 95);
}
.play:hover {
  background: rgb(41, 158, 67);
}
@media screen and (max-width: 480px) {
  .play {
    padding: 10px 20px;
  }
}

.raindrop {
  position: absolute;
  width: 120px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../../../img/drop.png);
  background-size: contain;
  background-position: center;
  font-size: 16px;
  top: -50px;
  -webkit-transition: top 40s linear, opacity 40s linear;
  transition: top 40s linear, opacity 40s linear;
}
@media screen and (max-width: 768px) {
  .raindrop {
    width: 100px;
    height: 100px;
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .raindrop {
    width: 70px;
    height: 70px;
    font-size: 10px;
  }
}

.raindrop.active {
  /*  для активации анимации */
  top: 100%;
  opacity: 0.5;
}

.bonus-drop {
  background-image: url(../../../img/bonus.png);
  background-repeat: no-repeat;
}

.operator {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.num1 {
  padding-top: 25%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.num2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding-bottom: 25%;
}

.game-container {
  display: none;
  min-width: 310px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgb(250, 250, 253)), to(rgb(132, 210, 230))) no-repeat;
  background: linear-gradient(rgb(250, 250, 253) 50%, rgb(132, 210, 230)) no-repeat;
}

.game {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2), 5px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2), 5px 5px 10px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 480px) {
  .game {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.game__place {
  position: relative;
  width: 67%;
  height: 100vh;
  min-width: 310px;
  background: url(../../../img/beach_PNG57.png) no-repeat;
  background-size: contain;
  background-position: center;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .game__place {
    width: 100%;
    height: 67vh;
  }
}
.game__wave {
  background: url("../../../img/wave3.png");
  background-repeat: repeat-x;
  width: 2000px;
  height: 200px;
  position: absolute;
  margin-left: -200px;
  margin-right: 200px;
  bottom: 0;
  left: 0;
}
@media screen and (max-width: 480px) {
  .game__wave {
    height: 100px;
  }
}
.game__wave-one {
  -webkit-animation: waves 5s infinite linear;
          animation: waves 5s infinite linear;
}
.game__wave-two {
  opacity: 0.5;
  -webkit-animation: waves 10s infinite linear;
          animation: waves 10s infinite linear;
}
.game__lives-container {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(228, 227, 227);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border: solid 5px rgb(162, 223, 237);
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  width: 220px;
  height: 40px;
  padding: 10px 25px;
}
@media screen and (max-width: 768px) {
  .game__lives-container {
    font-size: 16px;
    font-weight: 400;
    border: solid 3px rgb(162, 223, 237);
    width: 120px;
    height: 30px;
    padding: 5px 10px;
  }
}
@media screen and (max-width: 768px) {
  .game__lives-text {
    font-size: 18px;
  }
}
.game__hearts-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3px;
}
@media screen and (max-width: 768px) {
  .game__hearts-container {
    gap: 2px;
  }
}
.game__heart {
  width: 20px;
  height: 20px;
  background-image: url(../../../img/heart.png);
  background-size: cover;
  display: inline-block;
  margin-left: 5px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  .game__heart {
    width: 12px;
    height: 12px;
    margin-left: 3px;
  }
}
.game__heart.game__lose {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0.5;
}
.game__points {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 48px;
  font-weight: bold;
  color: rgb(255, 0, 0);
}
@-webkit-keyframes waves {
  0% {
    background-position-x: 0;
  }
  20% {
    background-position-x: 100px;
  }
  40% {
    background-position-x: 200px;
  }
  60% {
    background-position-x: 100px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes waves {
  0% {
    background-position-x: 0;
  }
  20% {
    background-position-x: 100px;
  }
  40% {
    background-position-x: 200px;
  }
  60% {
    background-position-x: 100px;
  }
  100% {
    background-position-x: 0px;
  }
}
.fade-out {
  -webkit-animation: fadeOut 2s ease-out;
          animation: fadeOut 2s ease-out;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.result-entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33%;
  height: 100vh;
  background: linear-gradient(200deg, #b6ebee, #1c51d5, #3ef5ef);
}
@media screen and (max-width: 480px) {
  .result-entry {
    width: 100%;
    height: 33vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.result-entry__score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  background: rgb(228, 227, 227);
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  border: solid 5px rgb(255, 255, 255);
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  margin: 0 10px;
}
.result-entry__score::before {
  content: " ⭐";
  padding: 5px;
  margin-left: 20px;
  margin-right: 15px;
}
@media screen and (max-width: 768px) {
  .result-entry__score {
    height: 30px;
    font-size: 16px;
    border: solid 3px rgb(255, 255, 255);
  }
}
@media screen and (max-width: 480px) {
  .result-entry__score {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
    text-align: center;
    width: 200px;
    height: 20px;
    font-size: 15px;
    font-weight: 400;
    border: solid 2px rgb(255, 255, 255);
    margin: 0 10px;
  }
  .result-entry__score::before {
    content: " ⭐";
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
  }
}
.result-entry__score-value {
  padding-left: 3px;
  color: rgb(164, 68, 68);
}
@media screen and (max-width: 768px) {
  .result-entry__score-value {
    padding-right: 5px;
  }
}
.result-entry__calc {
  height: 400px;
  margin: 50px 10px 50px 10px;
  border: solid 6px rgb(247, 225, 186);
  -webkit-box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2), 5px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2), 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .result-entry__calc {
    height: 200px;
    margin: 50px 20px 50px 20px;
    border: solid 2px rgb(247, 225, 186);
  }
}
@media screen and (max-width: 480px) {
  .result-entry__calc {
    height: 200px;
    margin: 15px 20px;
  }
}
.result-entry__calc-answer {
  height: 20%;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px, inset rgba(252, 255, 255, 0.7) 0 3px 8px, rgba(0, 0, 0, 0.8) 0 3px 8px -3px;
          box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px, inset rgba(252, 255, 255, 0.7) 0 3px 8px, rgba(0, 0, 0, 0.8) 0 3px 8px -3px;
}
.result-entry__calc-answer-display {
  width: 100%;
  height: 100%;
  background: rgb(228, 227, 227);
  text-align: center;
  font-size: 40px;
  border: solid 0.5px rgb(192, 191, 191);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0 0 100px hsla(0, 0%, 0%, 0.2), inset 0px 1px 5px #999, inset 0px 2px 0px #888, inset 0px 3px 0px #777, inset 0px 4px 0px #666, inset 0px 5px 0px #555, inset 0px 6px 0px #444, inset 0px 7px 0px #333, inset 0px 8px 7px #001135;
          box-shadow: inset 0 0 100px hsla(0, 0%, 0%, 0.2), inset 0px 1px 5px #999, inset 0px 2px 0px #888, inset 0px 3px 0px #777, inset 0px 4px 0px #666, inset 0px 5px 0px #555, inset 0px 6px 0px #444, inset 0px 7px 0px #333, inset 0px 8px 7px #001135;
}
@media screen and (max-width: 768px) {
  .result-entry__calc-answer-display {
    font-size: 25px;
  }
}
@media screen and (max-width: 480px) {
  .result-entry__calc-answer-display {
    font-size: 16px;
  }
}
.result-entry__calc-keyboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 80%;
}
.result-entry__key {
  width: 100%;
  height: 100%;
  font-size: 30px;
  font-weight: 500;
  background: rgb(255, 255, 240);
  cursor: pointer;
  border-radius: 0px;
  border: solid 0.5px rgb(192, 191, 191);
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px, inset rgba(252, 255, 255, 0.7) 0 3px 8px, rgba(0, 0, 0, 0.8) 0 3px 8px -3px;
          box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px, inset rgba(252, 255, 255, 0.7) 0 3px 8px, rgba(0, 0, 0, 0.8) 0 3px 8px -3px;
}
.result-entry__key:active {
  background-color: rgb(245, 197, 135);
}
@media screen and (max-width: 768px) {
  .result-entry__key {
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .result-entry__key {
    font-size: 16px;
  }
}

.level-display {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.delete-key,
.clear,
.enter {
  font-size: 19px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .delete-key,
  .clear,
  .enter {
    font-size: 14px;
    padding-right: 2px;
    padding-left: 2px;
  }
}
@media screen and (max-width: 480px) {
  .delete-key,
  .clear,
  .enter {
    font-size: 12px;
    padding-right: 1px;
    padding-left: 1px;
  }
}

#clear {
  display: grid;
  grid-row-start: 1;
  grid-column-start: 4;
  grid-row-end: 3;
  grid-column-end: 5;
}

#enter {
  display: grid;
  grid-row-start: 3;
  grid-column-start: 4;
  grid-row-end: 5;
  grid-column-end: 5;
}

#zero {
  display: grid;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 3;
}

.splash {
  width: 120px;
  height: 120px;
  background-image: url(../../../img/Bryzgi1.png);
  background-size: contain;
  position: absolute;
  -webkit-animation: splashAnimation 0.5s ease-out;
          animation: splashAnimation 0.5s ease-out; /* Анимация длительностью 0.5 секунды */
}
@media screen and (max-width: 480px) {
  .splash {
    width: 70px;
    height: 70px;
  }
}

@-webkit-keyframes splashAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes splashAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}
.fullscreen {
  width: 30%;
  height: 10%;
  background: transparent;
  background-image: url("../../../img/fullscreen.png");
  background-size: 100% 100%;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  margin: auto;
}
@media screen and (max-width: 480px) {
  .fullscreen {
    width: 10%;
    margin-bottom: 5px;
  }
}

.exit-fullscreen {
  width: 30%;
  height: 10%;
  background: transparent;
  background-image: url("../../../img/exit-fullscreen.png");
  background-size: 100% 100%;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  margin: auto;
}
@media screen and (max-width: 480px) {
  .exit-fullscreen {
    width: 10%;
    margin-bottom: 5px;
  }
}

.score-board {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  min-width: 320px;
}
.score-board__continue {
  margin: auto;
  margin-top: 60px;
  background: rgb(63, 211, 95);
}
.score-board__continue:hover {
  background: rgb(41, 158, 67);
}
.score-board__title {
  padding-top: 150px;
  width: 100%;
  font-size: 100px;
  font-family: "Chango", cursive;
  color: rgb(67, 139, 247);
  text-shadow: 3px 4px 5px rgb(7, 18, 119);
}
@media screen and (max-width: 1280px) {
  .score-board__title {
    font-size: 100px;
  }
}
@media screen and (max-width: 768px) {
  .score-board__title {
    font-size: 70px;
  }
}
@media screen and (max-width: 480px) {
  .score-board__title {
    font-size: 40px;
    padding: 100px 10px 0px 10px;
  }
}
.score-board__leaderboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  font-size: 40px;
  font-family: "Yusei Magic", sans-serif;
  color: rgb(26, 101, 151);
}
@media screen and (max-width: 768px) {
  .score-board__leaderboard {
    font-size: 30px;
    padding: 0 20px;
  }
}
@media screen and (max-width: 480px) {
  .score-board__leaderboard {
    font-size: 22px;
  }
}
@media screen and (max-width: 480px) {
  .score-board__column-left {
    padding-left: 20px;
  }
}
.score-board__column-right {
  width: 80px;
  text-align: right;
}
@media screen and (max-width: 480px) {
  .score-board__column-right {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .score-board__continue {
    margin-top: 35px;
    font-size: 22px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button,
button:active,
button:focus {
  border: none !important;
  outline: none !important;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgb(250, 250, 253)), to(rgb(132, 210, 230))) no-repeat;
  background: linear-gradient(rgb(250, 250, 253) 50%, rgb(132, 210, 230)) no-repeat;
  min-width: 320px;
}

.wrapper {
  width: auto;
  max-width: 900px;
  min-width: 320px;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

@media (max-width: 853px) {
  .wrapper {
    max-width: 700px;
  }
}
/* Адаптивные стили */
@media (max-width: 480px) {
  .wrapper {
    max-width: 400px;
  }
}/*# sourceMappingURL=style.css.map */