$color-white: rgb(255, 255, 255);
//цвет фона
$bg-display: rgb(228, 227, 227);
$bg-btn-green: rgba(63, 211, 95, 1);

//цвет границ
$border-color: rgb(192, 191, 191);

//цвет текста
$title-color: rgb(67, 139, 247);
$text-shadow-color: 3px 4px 5px rgb(7, 18, 119);
