.raindrop {
  position: absolute;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: space-around;

  flex-direction: column;
  align-items: center;
  background-image: url(../../../img/drop.png);
  background-size: contain;
  background-position: center;
  // white-space: pre; /* Разрешает перенос строк */
  // word-break: break-all;
  font-size: 16px;

  @include respond-to("middle") {
    width: 100px;
    height: 100px;
    font-size: 16px;
  }
  @include respond-to("mobile") {
    width: 70px;
    height: 70px;
    font-size: 10px;
  }
}

.bonus-drop {
  background-image: url(../../../img/bonus.png);
  background-repeat: no-repeat;
}
.operator {
  flex: 1;
  text-align: center;
}

.num1 {
  padding-top: 25%;
  flex: 1;
  text-align: center;
}

.num2 {
  flex: 1;
  text-align: center;
  padding-bottom: 25%;
}
.game-container {
  display: none;
  // height: 100%;
  min-width: 310px;
  background: linear-gradient(rgb(250, 250, 253) 50%, rgb(132, 210, 230))
    no-repeat;
}
.game {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2), 5px 5px 10px rgba(0, 0, 0, 0.2);
  @include respond-to("mobile") {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__place {
    position: relative;
    width: 67%;
    height: 100vh;
    min-width: 310px;
    background: url(../../../img/beach_PNG57.png) no-repeat;
    background-size: contain;
    background-position: center;
    overflow: hidden;
    @include respond-to("mobile") {
      width: 100%;
      height: 67vh;
    }
  }
  &__wave {
    background: url("../../../img/wave3.png");
    background-repeat: repeat-x;
    width: 2000px;
    height: 200px;
    position: absolute;
    margin-left: -200px;
    margin-right: 200px;
    bottom: 0;
    left: 0;
    @include respond-to("mobile") {
      height: 100px;
    }
    // @include respond-to("middle") {
    //   height: 250px; //???
    // }
  }

  &__wave-one {
    animation: waves 5s infinite linear;
  }
  &__wave-two {
    opacity: 0.5;
    animation: waves 10s infinite linear;
  }

  // //индикатор жизней
  &__lives-container {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background: $bg-display;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: solid 5px rgb(162, 223, 237);
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    width: 220px;
    height: 40px;
    padding: 10px 25px;
    @include respond-to("middle") {
      font-size: 16px;
      font-weight: 400;
      border: solid 3px rgb(162, 223, 237);
      width: 120px;
      height: 30px;
      padding: 5px 10px;
    }
  }
  &__lives-text {
    @include respond-to("middle") {
      font-size: 18px;
    }
  }
  &__hearts-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    @include respond-to("middle") {
      gap: 2px;
    }
  }
  &__heart {
    width: 20px;
    height: 20px;
    background-image: url(../../../img/heart.png);
    background-size: cover;
    display: inline-block;
    margin-left: 5px;
    transition: transform 0.3s ease-in-out;
    @include respond-to("middle") {
      width: 12px;
      height: 12px;
      margin-left: 3px;
    }
  }

  &__heart.game__lose {
    transform: scale(0.5);
    opacity: 0.5;
  }

  &__points {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: bold;
    color: rgb(255, 0, 0);
    @include respond-to("middle") {
    }
  }
  &__audio-player {
    // display: none;
  }
}

@keyframes waves {
  0% {
    background-position-x: 0;
  }
  20% {
    background-position-x: 100px;
  }
  40% {
    background-position-x: 200px;
  }
  60% {
    background-position-x: 100px;
  }
  100% {
    background-position-x: 0px;
  }
}

.fade-out {
  animation: fadeOut 2s ease-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

//****************************************
.result-entry {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 100vh;
  background: linear-gradient(200deg, #b6ebee, #1c51d5, #3ef5ef);
  @include respond-to("mobile") {
    width: 100%;
    height: 33vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__score {
    display: flex;
    align-items: center;
    height: 45px;
    background: $bg-display;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    border: solid 5px $color-white;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    margin: 0 10px;
    &::before {
      content: " \2B50 ";
      padding: 5px;
      margin-left: 20px;
      margin-right: 15px;
    }
    @include respond-to("middle") {
      height: 30px;
      font-size: 16px;
      border: solid 3px $color-white;
    }
    @include respond-to("mobile") {
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
      text-align: center;
      width: 200px;
      height: 20px;
      font-size: 15px;
      font-weight: 400;
      border: solid 2px $color-white;
      margin: 0 10px;
      &::before {
        content: " \2B50 ";
        padding: 2px;
        margin-left: 2px;
        margin-right: 2px;
      }
    }
  }

  &__score-value {
    padding-left: 3px;
    color: rgb(164, 68, 68);
    @include respond-to("middle") {
      padding-right: 5px;
    }
  }
  &__calc {
    height: 400px;
    margin: 50px 10px 50px 10px;
    border: solid 6px rgb(247, 225, 186);
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2),
      5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    @include respond-to("middle") {
      height: 200px;
      margin: 50px 20px 50px 20px;
      border: solid 2px rgb(247, 225, 186);
    }
    @include respond-to("mobile") {
      height: 200px;
      margin: 15px 20px;
    }
  }
  &__calc-answer {
    height: 20%;
    box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px,
      inset rgba(252, 255, 255, 0.7) 0 3px 8px,
      rgba(0, 0, 0, 0.8) 0 3px 8px -3px;
  }

  &__calc-answer-display {
    width: 100%;
    height: 100%;
    background: $bg-display;
    text-align: center;
    font-size: 40px;
    border: solid 0.5px $border-color;
    box-sizing: border-box;
    box-shadow: inset 0 0 100px hsla(0, 0%, 0%, 0.2), inset 0px 1px 5px #999,
      inset 0px 2px 0px #888, inset 0px 3px 0px #777, inset 0px 4px 0px #666,
      inset 0px 5px 0px #555, inset 0px 6px 0px #444, inset 0px 7px 0px #333,
      inset 0px 8px 7px #001135;
    @include respond-to("middle") {
      font-size: 25px;
    }
    @include respond-to("mobile") {
      font-size: 16px;
    }
  }

  &__calc-keyboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 80%;
  }
  &__key {
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-weight: 500;
    background: rgb(255, 255, 240);
    cursor: pointer;
    border-radius: 0px;
    border: solid 0.5px $border-color;
    box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px,
      inset rgba(252, 255, 255, 0.7) 0 3px 8px,
      rgba(0, 0, 0, 0.8) 0 3px 8px -3px;

    &:active {
      background-color: rgba(245, 197, 135, 1);
    }
    @include respond-to("middle") {
      font-size: 18px;
    }
    @include respond-to("mobile") {
      font-size: 16px;
    }
  }
}

.level-display {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-white;
  font-size: 20px;
}
.delete-key,
.clear,
.enter {
  font-size: 19px;
  font-weight: 400;
  @include respond-to("middle") {
    font-size: 14px;
    padding-right: 2px;
    padding-left: 2px;
  }
  @include respond-to("mobile") {
    font-size: 12px;
    padding-right: 1px;
    padding-left: 1px;
  }
}

#clear {
  display: grid;
  grid-row-start: 1;
  grid-column-start: 4;
  grid-row-end: 3;
  grid-column-end: 5;
}

#enter {
  display: grid;
  grid-row-start: 3;
  grid-column-start: 4;
  grid-row-end: 5;
  grid-column-end: 5;
}

#zero {
  display: grid;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 3;
}

//*************************
.splash {
  width: 120px;
  height: 120px;
  background-image: url(../../../img/Bryzgi1.png);
  background-size: contain;
  position: absolute;
  animation: splashAnimation 0.5s ease-out; /* Анимация длительностью 0.5 секунды */
  @include respond-to("mobile") {
    width: 70px;
    height: 70px;
  }
}

@keyframes splashAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.fullscreen {
  width: 30%;
  height: 10%;
  background: transparent;
  background-image: url("../../../img/fullscreen.png");
  background-size: 100% 100%;
  filter: invert(100%);
  // opacity: 0.5;
  margin: auto;
  @include respond-to("mobile") {
    width: 10%;
    margin-bottom: 5px;
  }
}
.exit-fullscreen {
  width: 30%;
  height: 10%;
  background: transparent;
  background-image: url("../../../img/exit-fullscreen.png");
  background-size: 100% 100%;
  filter: invert(100%);
  // opacity: 0.5;
  margin: auto;
  @include respond-to("mobile") {
    width: 10%;
    margin-bottom: 5px;
  }
}
//=======================================================================================
//====================================================================================
